<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="registration-form">

      <div class="form__control">
        <label>Name</label>
        <input type="text" formControlName="name" />
        <span class="text-danger" *ngIf="shouldShowError('name')">
          Invalid name
        </span>
      </div>

      <div class="form__control">
        <label>Email</label>
        <input type="text" formControlName="email" emailValidator />
        <span class="text-danger" *ngIf="shouldShowError('email')">
          Invalid email
        </span>
      </div>

      <div class="form__control">
        <label>Password</label>
        <input type="password" formControlName="password" />
        <span class="text-danger" *ngIf="shouldShowError('password')">
          Invalid password
        </span>
      </div>

      <button type="submit">Register</button>
    </div>
  </form>
</div>
