<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="form__control">
    <input type="text" formControlName="email" emailValidator />
    <span
      class="text-danger"
      *ngIf="f['email'].touched && f['email'].invalid"
    >
      Invalid email
    </span>
  </div>

  <div class="form__control">
    <input type="password" formControlName="password" />
    <span
      class="text-danger"
      *ngIf="f['password'].touched && f['password'].invalid"
    >
      Invalid password
    </span>
  </div>

  <button type="submit">Login</button>
</form>
