<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="form__control">
    <input type="email" formControlName="email" />
    <span class="text-danger" *ngIf="shouldShowError('email')">
      Invalid email
    </span>
  </div>

  <div class="form__control">
    <input type="password" formControlName="password" />
    <span class="text-danger" *ngIf="shouldShowError('password')">
      Invalid password
    </span>
  </div>

  <button type="submit">Login</button>
</form>
