<form [formGroup]="courseForm">

  <input formControlName="title" />
  <span class="text-danger" *ngIf="title?.touched && title?.invalid">
    Invalid title
  </span>

  <textarea formControlName="description"></textarea>
  <span class="text-danger" *ngIf="description?.touched && description?.invalid">
    Invalid description
  </span>

  <input type="number" formControlName="duration" />
  <span class="text-danger" *ngIf="duration?.touched && duration?.invalid">
    Invalid duration
  </span>

  <input formControlName="author" />
  <button type="button" (click)="addAuthor()">Add author</button>
  <span class="text-danger" *ngIf="author?.touched && author?.invalid">
    Invalid author
  </span>

  <button type="submit" (click)="onSubmit()">Submit</button>
</form>
