<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

  <input formControlName="title" placeholder="Title" />
  <span class="text-danger" *ngIf="shouldShowError(title)">
    Invalid title
  </span>

  <textarea formControlName="description" placeholder="Description"></textarea>
  <span class="text-danger" *ngIf="shouldShowError(description)">
    Invalid description
  </span>

  <input type="number" formControlName="duration" placeholder="Duration" />
  <span class="text-danger" *ngIf="shouldShowError(duration)">
    Invalid duration
  </span>

  <!-- New author input -->
  <div formGroupName="newAuthor">
    <input formControlName="author" placeholder="New author" />
    <button type="button" (click)="addAuthor()">Add author</button>
    <span class="text-danger" *ngIf="shouldShowError(author)">
      Invalid author
    </span>
  </div>

  <!-- Authors lists -->
  <div>
    <h4>All authors</h4>
    <ul>
      <li *ngFor="let a of allAuthors">
        {{ a.name }}
        <button type="button" (click)="moveToCourse(a)">Add</button>
      </li>
    </ul>
  </div>

  <div>
    <h4>Course authors</h4>
    <ul>
      <li *ngFor="let a of courseAuthors; let i = index">
        {{ a.name }}
        <button type="button" (click)="removeFromCourse(a, i)">Remove</button>
      </li>
    </ul>
  </div>

  <button type="submit">Submit</button>
</form>
